body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  
}



#game-board {
    background-color:#E1C699 ;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color:#4e3a33;
    border: .25vmin solid #E1C699;
}

.food {
    background-color: #9a774f;
    border: .25vmin solid #4e3a33;
}